---
title: ctree
---

<div class="container">

  <div class="row intro text-center">
    <div class="twelve columns">
      <h1>ctree</h1>
      <h4>Tackling sustainability with gamification</h4>
      <%= image_tag "images/ctree/ctreehead.png" %>
    </div>
  </div>


  <div class="row project text-center">
    <div class="twelve columns">
      <h1>Introduction</h1>
      <p>Back when I was living in Vancouver I was asked to join a team of 2 developers at a hackathon called <strong>nwHacks</strong> who I didn't know or didn't have experience with working with before. There was a theme to the hackathon and it was sustainability. Our team came up with the idea of gamifying everyday tasks so that we have something to incentivize us in order to lower our carbon footprint. </p>

      <h1>The Problem</h1>
      <p>Back when I was living in Vancouver I was asked to join a team of 2 developers at a hackathon called <strong>nwHacks</strong> who I didn't know or didn't have experience with working with before. There was a theme to the hackathon and it was sustainability. Our team came up with the idea of gamifying everyday tasks so that we have something to incentivize us in order to lower our carbon footprint. </p>

      <h1>The Solution</h1>
      <p>What our team came up with was a mobile app that uses gamification in order to incentivize users to do sustainable tasks. Using the idea of a virtual tree, the more you complete sustainable tasks, the more you can grow your virtual tree. If you are successful in growing your virtual tree, our organization would plant a real tree somewhere in the world. Below are some images from the hackathon! </p><br><br>
    </div>
  </div>
  
  <div class="row project text-center">
    <%= image_tag "images/ctree/ctree2.jpg" %>
    <%= image_tag "images/ctree/ctree5.jpg" %>
    <%= image_tag "images/ctree/ctree3.jpg" %>
    <%= image_tag "images/ctree/ctree4.jpg" %>
  </div>

</div>