---
title: Daniel Park - Design Thinker
---

<div class="header">
  <div class="row">
    <div class="eight columns">
      <%= image_tag "dp.jpg"%>
    </div>

    <div class="four columns">
      <h1>About</h1>
      <hr>
      <p>Hi, my name is Daniel Park and I'm a designer. I tackle problems by employing design thinking techniques and using the design sprint. Wanting to continuously grow, I create passion projects whenever I have free time. Currently, I am aboard the VR/AR/MR hype train - care to ride with me?</p>
      <p>I am a rising Junior at Parsons studying Design Management. I was previously a design intern at <a href="http://momentdesign.com/" target="_blank">Moment</a>, a product design intern at <a href="http://www.eventmobi.com/" target="_blank">Eventmobi</a>, and an UI/UX intern at <a href="https://lemonstand.com/" target="_blank">Lemonstand</a>.</p>

      <p>You can see my <a href="../images/resume.pdf" target="_blank">resume</a>, <a href="mailto:d.hanul.park@gmail.com">email</a> me, connect with me on <a href="https://ca.linkedin.com/pub/daniel-park/79/8a9/315" target="_blank">linkedin</a><!-- , tweet me <a href="http://twitter.com/itsdpark" target="_blank">@itsdpark</a> -->, commit with me on <a href="https://github.com/dparkd/" target="_blank">github</a> or like my posts on <a href="https://www.instagram.com/itsdpark/" target="_blank">instagram</a></p>
    </div>
  </div>
</div>

<div class="special-work">

  <h1>Selected Work</h1>

  <div class="row">
    <div class="work six columns">
      <a href="/peer" class="work-link">
        <div class="image">
          <%= image_tag "work/peer.jpg"%>
        </div>

        <div class="text">
          <h2>Peer</h2>
          <p>Design thinking, Mixed Reality</p>
        </div>
      </a>
    </div>

    <div class="work six columns">
      <a href="/posters" class="work-link">
        <div class="image">
          <%= image_tag "work/posters2.jpg"%>
        </div>

        <div class="text">
          <h2>Poster Design</h2>
          <p>Print design, passion project</p>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="work six columns">
      <a href="http://wall-canvas.herokuapp.com/" target="_blank" class="work-link">
        <div class="image">
          <%= image_tag "work/vrwall.jpg"%>
        </div>

        <div class="text">
          <h2>VR Canvas Wall</h2>
          <p>Design, development, passion project</p>
        </div>
      </a>
    </div>
  
    <div class="work six columns">
      <a href="http://pixdraw.co" target="_blank" class="work-link">
        <div class="image">
          <%= image_tag "work/pixdraw2.jpg"%>
        </div>

        <div class="text">
          <h2>Pixdraw</h2>
          <p>Design, development, passion project</p>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="work twelve columns">
      <a href="http://yashallo.com" target="_blank" class="work-link">
        <div class="image">
          <%= image_tag "work/yashallo.jpg"%>
        </div>

        <div class="text">
          <h2>Yas Hallo</h2>
          <p>Side Hustle, clothing</p>
        </div>
      </a>
    </div>
  </div>

</div>










