---
title: Peer - Case Study
---

<h1 class="nav"><a href="/">Back to Projects</a></h1>

<div class="peer_background">
  <div class="layer"></div>
  <div class="container">
    <div class="row">
      <div class="twelve">
        <h1>Peer</h1>
        <p>A Mixed Reality Education Experience</p>
      </div>
    </div>
  </div>
</div>

<div class="container" id="peer_case">

  <div class="row">
    <div class="twielve project_tile">
      <h1>Background</h1>
      <h2>How might we leverage VR/AR technology in order to create utility beyond the entertainment industry?</h2>
      <p>
        Traditional education has a difficult time engaging students when it comes to learning complex, invisible, and abstract science concepts. As a team of four designers we wanted to explore different ways in which this technology can enhance the current learning experience which is difficult and complex.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="twielve project_tile">
      <h1>Research Insights</h1>
      <h2>Maker education helps students develop softskills in ways that traditional education can't - Successful collaboration comes from buy in of shared responsibilities - Learning comes from the process and not the final product.</h2>
      <p>
        As a group we decided to interview educators and students in order to understand where we can fit VR/AR technology in the classroom and education. After gathering all of our interviews we synthesized our data and generated some of the key insights that we wanted to hit. We wanted to hit these three aspects with our product:
      </p>
      <a href="../images/peer/keyaspects.jpg" class="fluidbox-img">
        <%= image_tag "images/peer/keyaspects.jpg" %>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="twielve project_tile">
      <h1>The Idea</h1>
      <h2>A mixed reality educational platform that engages students by making abstract and complex forces visible and tangible.</h2>
      <p>
        Rather than a single idea, we wanted to create an educational platform that can enhance the learning experience of kids aged from 9-15 that are learning complex subjects. We decided to focus on aerodynamics, but the platform can be scaled to include topics like molecular bonds, gravity, acceleration and speed, and even sound. Our platform comes in the form of a kit which included three basic parts: Internet Enabled Sensor, Digital Headset, and Building Materials.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="twelve peer_video project_tile">
      <h1>Final Concept</h1>
      <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/179221793' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
    </div>
  </div>

  <div class="row">
    <div class="twelve peer_process project_tile">
      <h1>Process Photos</h1>
      
      <div class="image_full">
        <a href="../images/peer/personas.jpg" class="fluidbox-img">
          <%= image_tag "images/peer/personas.jpg"%>
        </a>
        <p>Persona's helped us understand our users and the way they might interact with our education experience.</p>
      </div>

      <div class="image_full">
        <a href="../images/peer/journey.jpg" class="fluidbox-img">
          <%= image_tag "images/peer/journey.jpg"%>
        </a>
        <p>After identifying the different stages of learning engagement we ran our persona's against each stage.</p>
      </div>

      <div class="image_full">
        <a href="../images/peer/journey2.jpg" class="fluidbox-img">
          <%= image_tag "images/peer/journey2.jpg"%>
        </a>
        <p>Ideation sketches for each of the learning engagement phases for our experience.</p>
      </div>

      <div class="image_full">
        <a href="../images/peer/act1.jpg" class="fluidbox-img">
          <%= image_tag "images/peer/act1.jpg"%>
        </a>
        <a href="../images/peer/act2.jpg" class="fluidbox-img">
          <%= image_tag "images/peer/act2.jpg"%>
        </a>
        <a href="../images/peer/act3.jpg" class="fluidbox-img">
          <%= image_tag "images/peer/act3.jpg"%>
        </a>
        <a href="../images/peer/act4.jpg" class="fluidbox-img">
          <%= image_tag "images/peer/act4.jpg"%>
        </a>
        <p>Acting out our storyboard allowed us to understand what works in 3D - While having fun at the same time</p>
      </div>

      <div class="image_full">
        <a href="../images/peer/demo1.jpg" class="fluidbox-img">
          <%= image_tag "images/peer/demo1.jpg"%>
        </a>
        <a href="../images/peer/demo3.jpg" class="fluidbox-img">
          <%= image_tag "images/peer/demo3.jpg"%>
        </a>
        <p>Some photos from our demo experience.</p>
      </div>

      <div class="image_full">
        <a href="../images/peer/goodbye.jpg" class="fluidbox-img">
          <%= image_tag "images/peer/goodbye.jpg"%>
        </a>
        <p>Thanks for reading!</p>
      </div>
    </div>
  </div>


</div>


































