---
title: posters
---

<div class="container">

  <div class="row intro text-center">
    <div class="twelve columns">
      <h1>Poster Design</h1>
      <h4>Engaging in multi-disciplanary design</h4>
    </div>
  </div>


  <div class="row project text-center">
    <div class="twelve columns">
      <h1>Introduction</h1>
      <p>Aside from making products digitally, I like to dive deeper into other disciplines of design. My major source of inspiration is minimalism and Swiff typography; therefore, you're gonna see a lot of minimal posters. I try to make posters whenever I have the free time. This summer, I am challenging myself to design, print, and bind a hard copy book!</p>
    </div>
  </div>
  
  <div class="row project images text-center">
    <%= image_tag "images/posters/daily1.jpg" %>
    <%= image_tag "images/posters/daily2.jpg" %>
    <%= image_tag "images/posters/daily3.jpg" %>
    <%= image_tag "images/posters/daily4.jpg" %>
    <%= image_tag "images/posters/daily5.jpg" %>
    <%= image_tag "images/posters/daily6.jpg" %>
    <%= image_tag "images/posters/daily7.jpg" %>
    <%= image_tag "images/posters/daily8.jpg" %>
    <%= image_tag "images/posters/daily10.jpg" %>
    <%= image_tag "images/posters/daily11.jpg" %>
    <%= image_tag "images/posters/daily12.jpg" %>
    <%= image_tag "images/posters/daily13.jpg" %>
    <%= image_tag "images/posters/daily14.jpg" %>


  </div>

</div>