---
title: posters
---
<h1 class="nav"><a href="/">Back to Projects</a></h1>


<div class="container">

  <div class="row project text-center">
    <div class="twelve columns">
      <h1>Introduction</h1>
      <p>Aside from making digital products I like to make posters in my free time. I'm currently in love with the swiss/minimal style so you are going to see a lot of influence from that style.</p>
    </div>
  </div>
  
  <div class="row project images text-center">
    <%= image_tag "images/posters/daily1.jpg" %>
    <%= image_tag "images/posters/daily2.jpg" %>
    <%= image_tag "images/posters/daily3.jpg" %>
    <%= image_tag "images/posters/daily4.jpg" %>
    <%= image_tag "images/posters/daily5.jpg" %>
    <%= image_tag "images/posters/daily6.jpg" %>
    <%= image_tag "images/posters/daily7.jpg" %>
    <%= image_tag "images/posters/daily8.jpg" %>
    <%= image_tag "images/posters/daily10.jpg" %>
    <%= image_tag "images/posters/daily11.jpg" %>
    <%= image_tag "images/posters/daily12.jpg" %>
    <%= image_tag "images/posters/daily13.jpg" %>
    <%= image_tag "images/posters/daily14.jpg" %>
    <%= image_tag "images/posters/daily15.JPG" %>
    <%= image_tag "images/posters/daily16.JPG" %>
    <%= image_tag "images/posters/daily17.JPG" %>


  </div>

</div>